@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');

/* Variáveis de cores e fontes */
:root {
--cor-backgrond:#000000;
--cor-letras-texto:#B8621B;
--cor-letras-links:#BFB78F;
--cor-letras-texto-destaque:#E3CCAE;
--fonte-primaria:'Krona One', sans-serif;
--fonte-secundaria:'Montserrat', sans-serif;
}

/* Estilos padrão */
body {
background-color:var(--cor-backgrond);
}

.cabecalho {
padding: 2% 0% 0% 15%;
}

.cabecalho-menu {
display: flex;
gap: 80px;
justify-content: flex-start;
}

.cabecalho-menu-link {
font-family:var(--fonte-secundaria);
font-size: 1.5rem;
font-weight: 600;
color: var(--cor-letras-links);
text-decoration: none;
}

.apresentaçao2 {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
line-height: 40px;
padding: 5% 15% 0 15%;
}

.apresentaçao-conteudo2 {
font-family: var(--fonte-primaria);
color: var(--cor-letras-texto);
gap: 100px;
}

.apresentaçao-conteudo-titulo2 {
font-size: 36px;
font-weight: 400;
padding: 0 30% 2% 0;
align-self: flex-start;
margin: 0;
}

.apresentaçao-conteudo-paragrafo2 {
font-size: 24px;
align-content: space-around;
font-weight: 100;
}

.Texto-destaque {
color:var(--cor-letras-texto-destaque);
}

.apresentaçao-imagem2 {
padding-top: 5%;
max-width:1150px;
max-height:550px;
width: auto;
height: auto;
border: 5px solid var(--cor-letras-texto);
border-width: 2px;
}

.apresentaçao-imagem3 {
padding-top: 5%;
max-width:1150px;
max-height:550px;
width: auto;
height: auto;
border: 5px solid var(--cor-letras-texto);
border-width: 2px;
}

/* Alterações em telas menores */
@media only screen and (max-width: 768px) {
.cabecalho-menu {
gap: 20px;
}

.apresentaçao-conteudo2 {
flex-direction: column;
}

.apresentaçao-conteudo-titulo2 {
font-size: 24px;
margin-right: 0;
padding-bottom: 1%;
}

.apresentaçao-conteudo-paragrafo2 {
font-size: 18px;
}
}